# Dependências
node_modules/
package-lock.json

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Diretórios de cache
.npm
.cache

# Vercel
.vercel
.now

# Outros
.DS_Store
Thumbs.db
dist/
build/ 